//variables
$primary-color: darkcyan;
$secondary-color: cyan;
$text-color: #fff;
$font-weight:(
    regular: 400,
    medium: 600,
    bold: 800
);


//mixins

@mixin size($x, $y) {
    width: $x;
    height: $y;
}

   

Body{
    padding: 30px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: map-get($font-weight, medium);
}

#container {
    @extend body !optional; /*allows you to share CSS properties from Body to container
                            (but its optional: compiler may choose  not to consider it) */
    background-color: $primary-color;
    @include size(80%, auto);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

   #header{
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    & #header small{
        margin-bottom: 15px;
        text-align: center;
        color: $text-color;
        padding-bottom: 10px;
    }
}

form{
    @include size(100%, auto);
    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow: hidden;

    & input {
        margin: 5px;
        border: 1px solid transparent;
        border-radius: 5px;
        width: 70%;
        height: 5vh;
        background-color: $secondary-color;

        
    }

    & input::placeholder{
        padding-left: 5px;
        color: #000333;
    }
    & input:focus{
        scale: 1.05;
        background-color: $text-color;
    }
}

section{
    width: 100%; 

    & button{
        background-color: cyan;
        color: rgb(78, 78, 2);
        border: 1px solid transparent;
        border-radius: 5px;
        font-weight: 500;
    }

    & button:hover{
        scale: 1.05;
        cursor: pointer;
    }

    & p{
        color: $text-color;

    }

    & a{
        color: greenyellow;
    }
    & a:hover{
        color: yellow;
        cursor: pointer;
    }

}
